# Analyzing LastFM API


## Importing historic data from LastFM API:

In [1]:
import lastfm
lastfm.import_historic_data(file_path='lastfm_data', initial_year=2009,end_year=2013)

## Reading imported files:

In [1]:
import pandas 
import glob
import os

path = os.getcwd()
lasffm_files = glob.glob(path + '/*.csv')
df_files = [pandas.read_csv(file, index_col=0) for file in lasffm_files]
lastfm_df = pandas.concat(df_files)
# adding datepart information
lastfm_df = lastfm_df[lastfm_df.date_uts.notnull()] # dropping null dates
lastfm_df['complete_date'] = pandas.to_datetime(lastfm_df.date_uts,dayfirst=True,unit='ns')
lastfm_df['year'] = lastfm_df.complete_date.dt.year.astype(int)
lastfm_df['month'] = lastfm_df.complete_date.dt.month.astype(int)

lastfm_df.head(10)

,artist_name,track_name,loved_track,date_uts,date,complete_date,year,month
1,Haken,Carousel,0,1.609025e+09,2020-12-26 20:30:58,1970-01-01 00:00:01.609025458,1970,1
2,Haken,Invasion,0,1.609025e+09,2020-12-26 20:24:16,1970-01-01 00:00:01.609025056,1970,1
3,Haken,Prosthetic,0,1.609025e+09,2020-12-26 20:18:15,1970-01-01 00:00:01.609024695,1970,1
4,Pain of Salvation,Beyond the Pale (Live),0,1.608750e+09,2020-12-23 15:55:11,1970-01-01 00:00:01.608749711,1970,1
5,Pain of Salvation,Second Love (Live),0,1.608749e+09,2020-12-23 15:50:19,1970-01-01 00:00:01.608749419,1970,1
6,Pain of Salvation,Waking Every God (Live),0,1.608749e+09,2020-12-23 15:44:38,1970-01-01 00:00:01.608749078,1970,1
7,Pain of Salvation,Dryad Of The Woods (Live),0,1.608749e+09,2020-12-23 15:37:44,1970-01-01 00:00:01.608748664,1970,1
8,Pain of Salvation,Chain Sling (Live),0,1.608748e+09,2020-12-23 15:33:07,1970-01-01 00:00:01.608748387,1970,1
9,Pain of Salvation,Rope Ends (Live),0,1.608748e+09,2020-12-23 15:25:55,1970-01-01 00:00:01.608747955,1970,1
10,Pain of Salvation,Undertow (live),0,1.608748e+09,2020-12-23 15:21:08,1970-01-01 00:00:01.608747668,1970,1

## Grouping top 5 albuns for each year:

THERE ARE NO ALBUNS OH MY FUCKS

In [ ]:
g = lastfm_df.groupby(['year','artist_name']).count()


g.head()

,Unnamed: 0,artist_name,track_name,loved_track,date_uts,date,date_2,year,month,complete_date
1,1,Haken,Carousel,0,1.609025e+09,2020-12-26 20:30:58,1970-01-01 00:00:01.609025458,1970,1,1970-01-01 00:00:01.609025458
2,2,Haken,Invasion,0,1.609025e+09,2020-12-26 20:24:16,1970-01-01 00:00:01.609025056,1970,1,1970-01-01 00:00:01.609025056
3,3,Haken,Prosthetic,0,1.609025e+09,2020-12-26 20:18:15,1970-01-01 00:00:01.609024695,1970,1,1970-01-01 00:00:01.609024695
4,4,Pain of Salvation,Beyond the Pale (Live),0,1.608750e+09,2020-12-23 15:55:11,1970-01-01 00:00:01.608749711,1970,1,1970-01-01 00:00:01.608749711
5,5,Pain of Salvation,Second Love (Live),0,1.608749e+09,2020-12-23 15:50:19,1970-01-01 00:00:01.608749419,1970,1,1970-01-01 00:00:01.608749419

,Unnamed: 0,artist_name,track_name,loved_track,date_uts,date,date_2,year,month,complete_date
1,1,Haken,Carousel,0,1.609025e+09,2020-12-26 20:30:58,1970-01-01 00:00:01.609025458,1970.0,1.0,1970-01-01 00:00:01.609025458
2,2,Haken,Invasion,0,1.609025e+09,2020-12-26 20:24:16,1970-01-01 00:00:01.609025056,1970.0,1.0,1970-01-01 00:00:01.609025056
3,3,Haken,Prosthetic,0,1.609025e+09,2020-12-26 20:18:15,1970-01-01 00:00:01.609024695,1970.0,1.0,1970-01-01 00:00:01.609024695
4,4,Pain of Salvation,Beyond the Pale (Live),0,1.608750e+09,2020-12-23 15:55:11,1970-01-01 00:00:01.608749711,1970.0,1.0,1970-01-01 00:00:01.608749711
5,5,Pain of Salvation,Second Love (Live),0,1.608749e+09,2020-12-23 15:50:19,1970-01-01 00:00:01.608749419,1970.0,1.0,1970-01-01 00:00:01.608749419